<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <nf-name [form]="form"></nf-name>
  <nf-gender [form]="form"></nf-gender>
  <nf-date [form]="form"></nf-date>
  <nf-status
    *ngIf="showStatusControl"
    [form]="form"
    [maritalStatus]="filteredMaritalStatus"
  ></nf-status>
  <nf-child-counter [form]="form"></nf-child-counter>
  <nf-email [form]="form"></nf-email>
  <nf-comment [form]="form"></nf-comment>

  <button
    mat-stroked-button
    class="btn"
    type="submit"
    [disabled]="isDisabledSubmitButton$ | async"
  >
    Сохранить
  </button>
</form>
