.container {
  padding: 15px 35px;
  margin: 100px 20%;
}

@keyframes load-indicator-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.load-indicator {
  opacity: 0;
  animation-delay: 300ms;
  animation-duration: 0ms;
  animation-fill-mode: both;
  animation-name: load-indicator-animation;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1000;
}
